[submodule "MaintainerValidation/RubyMaintainerValidationApp"]
	path = MaintainerValidation/RubyMaintainerValidationApp
	url = git@github.com:lshep/RubyMaintainerValidationApp.git
[submodule "BBSReportDatabase/BiocBuildDB"]
	path = BBSReportDatabase/BiocBuildDB
	url = git@github.com:lshep/BiocBuildDB.git
[submodule "BBSReportDatabase/BiocBuildReporter"]
	path = BBSReportDatabase/BiocBuildReporter
	url = git@github.com:lshep/BiocBuildReporter.git
[submodule "MaintainerValidation/DashboardInterface/BiocMaintainerApp"]
	path = MaintainerValidation/DashboardInterface/BiocMaintainerApp
	url = git@github.com:lshep/BiocMaintainerApp.git
[submodule "BBSReportDatabase/bioc-r-universe-build-db"]
	path = BBSReportDatabase/bioc-r-universe-build-db
	url = git@github.com:lshep/bioc-r-universe-build-db.git
