[submodule "MaintainerValidation/RubyMaintainerValidationApp"]
	path = MaintainerValidation/RubyMaintainerValidationApp
	url = git@github.com:lshep/RubyMaintainerValidationApp.git
[submodule "BBSReportDatabase/BiocBuildDB"]
	path = BBSReportDatabase/BiocBuildDB
	url = git@github.com:lshep/BiocBuildDB.git
[submodule "BBSReportDatabase/BiocBuildReporter"]
	path = BBSReportDatabase/BiocBuildReporter
	url = git@github.com:lshep/BiocBuildReporter.git
